<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.animal.mapper.VillagerImageMapper">

  <update id="updateVillagerImage">
    UPDATE villager
    SET villager_image = #{url}
    WHERE villager_no = #{villagerNo}
  </update>

  <update id="updateVillagerIcon">
    UPDATE villager
    SET villager_image_icon = #{url}
    WHERE villager_no = #{villagerNo}
  </update>

</mapper>
